<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dipnova.assistent" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Hey Nova - Dip Edition</name>
  <content src="ui-design/index.html" />
  <access origin="*" />
  <preference name="Fullscreen" value="true"/>
  <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
  </edit-config>
  <platform name="android">
    <icon src="ui-design/icon-512.png" />
  </platform>
</widget>
